{% extends "layout.html" %}
{% block title %}VAMK-HELP{% endblock %}
{% block body %}
    {{ super() }}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-question-circle"
                                                    aria-hidden="true"></i>VAMK-HELP</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Courses Report <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#my-gpa" data-toggle="tab">GPA</a></li>
                            <li><a href="#my-chart" data-toggle="tab">Grades Pie Chart</a></li>
                            <li><a href="#my-table" data-toggle="tab">Courses Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#my-calendar" data-toggle="tab">Courses Calendar</a></li>
                    <li><a href="#my-tritonia" data-toggle="tab">Tritonia Renewal</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#my-profile">Profile</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../register">Reset Credentials</a></li>
                            <li><a href="../logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="my-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pofile</h4>
                </div>
                <div class="modal-body">
                    {% include 'components/profile.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#my-gpa" data-toggle="tab"><i class="fa fa-graduation-cap"
                                                                              aria-hidden="true"></i> GPA</a></li>
                    <li><a href="#my-chart" data-toggle="tab"><i class="fa fa-pie-chart" aria-hidden="true"></i>
                        Grades
                        Pie Chart</a></li>
                    <li><a href="#my-table" data-toggle="tab"><i class="fa fa-list" aria-hidden="true"></i> Courses
                        Details</a></li>
                    <li><a href="#my-calendar" data-toggle="tab"><i class="fa fa-calendar" aria-hidden="true"></i>
                        Courses Calendar</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 tab-content main">
                <div class="tab-pane active fade in" id="my-gpa">
                    <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> GPA</h2>
                    {% include 'components/gpa.html' %}
                </div>
                <div class="tab-pane fade" id="my-chart">
                    <h2><i class="fa fa-pie-chart" aria-hidden="true"></i> Grades Pie Chart</h2>
                    {% include 'components/grades_pie_chart.html' %}
                </div>
                <div class="tab-pane fade" id="my-table">
                    <h2><i class="fa fa-list" aria-hidden="true"></i> Courses Details</h2>
                    {% include 'components/courses_table.html' %}
                </div>
                <div class="tab-pane fade" id="my-calendar">
                    <h2><i class="fa fa-calendar" aria-hidden="true"></i> Courses calendar</h2>
                    {% include 'components/calendar.html' %}
                </div>
                <div class="tab-pane fade" id="my-profile">
                    <h2>
                        <i class="fa fa-{% if data.sex == "Male" %}mars{% elif data.sex == "Female" %}venus{% endif %}"
                           aria-hidden="true"></i> Profile</h2>
                    {% include 'components/profile.html' %}
                </div>
                <div class="tab-pane fade" id="my-tritonia">
                    <h2><i class="fa fa-book" aria-hidden="true"></i> Tritonia</h2>
                    {% include 'components/tritonia.html' %}
                </div>

            </div>
        </div>


    </div>

    <script>

        $(document).ready(function () {
            // click anywhere to close the collapsed navbar
            $(document).click(function (event) {
                var clickover = $(event.target);
                var $navbar = $(".navbar-collapse");
                var _opened = $navbar.hasClass("in");
                if (_opened === true && !clickover.hasClass("navbar-toggle")) {
                    $navbar.collapse('hide');
                }
            });
        })

    </script>
{% endblock %}