<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="fb:app_id" content="1607829169533578"/>
    <meta property="og:url" content="https://vamk.help/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="VAMK-HELP"/>
    <meta property="og:description"
          content="VAMK-HELP's mission is to help VAMK students to handle trivial and repeating stuffs, in order to make life easier."/>
    <meta property="og:image"
          content="https://scontent-amt2-1.xx.fbcdn.net/t39.2081-0/p128x128/13176388_1609411469375348_1983647373_n.png"/>


    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">

    <link rel='stylesheet' href="../static/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel='stylesheet' href="../static/bower_components/fullcalendar/dist/fullcalendar.print.css" media='print'>

    <link rel='stylesheet' href="../static/bower_components/bootstrap-social/bootstrap-social.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/vamk.help.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/countUp.js/dist/countUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/tableExport.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.base64.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/sprintf.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jspdf.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/base64.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/html2canvas.js') }}"></script>


    {#    <script src="{{ url_for('static', filename='assets/js/vamk.help.js') }}"></script>#}


</head>
<body>

<!-- child template body-->
{% block body %}{% endblock %}


<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1607829169533578";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>